/*
CSS: element, id, class

selector{
		property:value;
}
*/
h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 200%;
}
p {
    font-family: "Arial", Times, serif; 
} 
body {
    font-family: "Arial", Times, serif;
    width: 80%;
    margin: 30px;
}
 #banner{
background-color: #5D8D72;
color: #black;
padding: 20px}
ul {
    list-style-type: none;
    font-family: "Arial", Times, serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #574C48;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #422826;
}
